{% extends 'admin/base.html.twig' %}

{% block title %}Administration - Editions LC{% endblock %}

{% block body %}
    <center>
        <div style="width: 30%; border: 1px solid black; background-color: #efefef">
            <h3 style="font-weight:bold;text-decoration:underline;">Supprimer un livre</h3>
            <p style="font-size: 15px">Attention cette action est irréversible êtes vous sûr de vouloir supprimer ce livre?</p>
            <br/>
            <div style="font-size: 20px">
                <p><strong>Titre : </strong>{{ livre.titre }}</p>
                <p><strong>Auteur : </strong>{{ livre.auteur.nom }} {{ livre.auteur.prenom }}</p>
            </div>
            <br/>
            <p style="font-size: 15px">En outre, cela supprimera aussi, ses ventes, ses bons de dépôt, ses services presse et les participations aux salons où ce livre a été présenté de la base de données.</p>
            <br/>
            <form action="/admin-suppression-livre/{{ livre.id }}/1" Method="post">
                <td><button class="btn btn-danger">Supprimer</button></td>
            </form>
            <br/>
        </div>
    </center>
{% endblock %}
